@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-cream: 225, 215, 213;
    --bg-light-brown: 184, 152, 128;
    --bg-orange: 188, 116, 78;
    --bg-brown: 83, 29, 19;
    --bg-olive: 89, 93, 68;

    --text-white: 225, 255, 255;
    --text-cream: 225, 215, 213;
    --text-light-brown: 184, 152, 128;
    --text-orange: 188, 116, 78;
    --text-brown: 83, 29, 19;
    --text-olive: 89, 93, 68;
  }
}
